*
{
    padding: 0;
    margin: 0;
    font-family:"Roboto", sans-serif;
}
.container
{
    width: 980px;
    margin: 0 auto;
}
header
{
    width: 980px;
    height: 100px;
    background:#0a5450;
}
.esp{
    width: 10px;
}
nav
{
    height: 35px;
    background:#03a9f4;
    margin-bottom: 5px;
}
nav .menu ul
{
    list-style: none;
}
nav .menu ul li
{
    float: right;
    line-height: 35px;
    padding: 0 45px;
}
nav .menu ul li a
{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
nav .search
{
    line-height:-35px;
    float: right;
    margin-right: 25px;
}
article h1
{
    text-align: center;
    padding: 15px 0;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.new_item
{
    text-align: center;
    width: 50%;
    padding: 5%;   
  
    border: 1px dashed #000080;
   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .noi-dung{
    margin-right: 30px;
    line-height: 1.4;
    padding: 0 5px;
    text-align: center;
}

footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .noi-dung.about h2:before{
    
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer .container .noi-dung.about p{
    color: #999;
}

